<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

    <insert id = "signUp" parameterType="MemberDTO" >
        insert into MEMBER
        values (#{member_email, jdbcType = VARCHAR}, #{member_pwd, jdbcType = VARCHAR},  #{member_name, jdbcType = VARCHAR }, 'General', sysdate)
    </insert>

    <select id = "loginCheck"  resultType="com.withstudy.domain.MemberDTO">
        select * FROM MEMBER
        where member_name = #{member_name, jdbcType = VARCHAR}
        and member_pwd = #{member_pwd, jdbcType = VARCHAR}
    </select>
</mapper>
