<!DOCTYPE html>
<html lang="kr">
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/login.css" rel="stylesheet" />
</head>
<body>
<div class="container right-panel-active">
    <div th:if = "${param.error}">Invalid ID and password</div>
    <div th:if = "${param.logout}">You have been logged out</div>

    <!-- Sign Up -->
    <div class="container__form container--signup">
        <form action="#" class="form" id="form1">
            <h2 class="form__title">Sign Up</h2>
            <input type="text" placeholder="Name" class="input" />
            <input type="email" placeholder="Email" class="input" />
            <input type="password" placeholder="Password" class="input" />
            <input type="text" placeholder="Phone" class="input" />
            <button class="btn">회원가입</button>
        </form>
    </div>

    <form th:action="@{/login}" method="post">
    <!-- Sign In -->
    <div class="container__form container--signin">
        <form action="#" class="form" id="form2">
            <h2 class="form__title">Sign In</h2>
            <input type="email" placeholder="Email" class="input" />
            <input type="password" placeholder="Password" class="input" />
            <a href="#" class="link">Forgot your password?</a>
            <button class="btn">로그인</button>
        </form>
    </div>
    </form>
    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">로그인</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">회원가입</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/login.js"></script>
</html>