<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>withStudy</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/studyPost.css" rel="stylesheet"/>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/withStudy">withStudy</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/studyList">스터디 모임</a></li>
                            <li th:if = "${session.member == null}" class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
                            <li th:if = "${session.member != null}" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span th:text="${session.member.member_name}"></span>님</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" th:href="@{/myPage}">회원 정보</a></li>
                                    <li><a class="dropdown-item" th:href="@{/myPost}">내 작성글</a></li>
                                    <li><a class="dropdown-item" th:href="@{/logout}">로그아웃</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">가입한 스터디</h2>
                                <p class="lead fw-normal text-muted mb-5"></p>
                                <tr th:each="joinStudy : ${joinStudy}">
                                <ul class="studyInfo_studyGrid">
                                    <li class="studyInfo_contentWrapper">
                                        </th><span class="studyInfo_title">주제</span>
                                        <span class="studyInfo_content" th:text="${joinStudy.sb_title}"></span>
                                    </li>
                                    <li class="studyInfo_contentWrapper">
                                        <span class="studyInfo_title">스터디 주인</span>
                                        <span class="studyInfo_content" th:text="${joinStudy.host_name}"></span>
                                    </li>
                                    <li class="studyInfo_contentWrapper">
                                        <span class="studyInfo_title">스터디 위치</span>
                                        <span class="studyInfo_content" th:text="${joinStudy.sb_location}"></span>
                                    </li>
                                    <li class="studyInfo_contentWrapper">
                                        <span class="studyInfo_title">태그</span>
                                        <span class="studyInfo_content" th:text="${joinStudy.sb_tag}"></span>
                                    </li>
                                    <li class="studyInfo_contentWrapper">
                                        <span class="studyInfo_title">연락처</span>
                                        <span class="studyInfo_content" th:text="${joinStudy.sb_contact}"></span>
                                    </li>
                                    <li class="studyInfo_contentWrapper">
                                        <span class="studyInfo_title">시작일</span>
                                        <span class="studyInfo_content" th:text="${joinStudy.sb_start_time}"></span>
                                    </li>
                                    <li class="studyInfo_contentWrapper">
                                        <span class="studyInfo_title">종료일</span>
                                        <span class="studyInfo_content" th:text="${joinStudy.sb_deadLine}"></span>
                                    </li>
                                    <li class="studyInfo_contentWrapper">
                                        <span class="studyInfo_title">가입일</span>
                                        <span class="studyInfo_content" th:text="${#dates.format(joinStudy.register_datetime, 'yyyy-MM-dd')}"></span>
                                    </li>
                                </ul>
                                </tr>
                                <br/><br/><br/>
                                <h2 class="fw-bolder">개설한 스터디</h2>
                                <p class="lead fw-normal text-muted mb-5"></p>
                                <tr th:each="createStudy : ${createStudy}">
                                    <ul class="studyInfo_studyGrid">
                                        <li class="studyInfo_contentWrapper">
                                            </th><span class="studyInfo_title">주제</span>
                                            <span class="studyInfo_content" th:text="${createStudy.sb_title}"></span>
                                        </li>
                                        <li class="studyInfo_contentWrapper">
                                            <span class="studyInfo_title">스터디 주인</span>
                                            <span class="studyInfo_content" th:text="${createStudy.member_name}"></span>
                                        </li>
                                        <li class="studyInfo_contentWrapper">
                                            <span class="studyInfo_title">스터디 위치</span>
                                            <span class="studyInfo_content" th:text="${createStudy.sb_location}"></span>
                                        </li>
                                        <li class="studyInfo_contentWrapper">
                                            <span class="studyInfo_title">태그</span>
                                            <span class="studyInfo_content" th:text="${createStudy.sb_tag}"></span>
                                        </li>
                                        <li class="studyInfo_contentWrapper">
                                            <span class="studyInfo_title">연락처</span>
                                            <span class="studyInfo_content" th:text="${createStudy.sb_contact}"></span>
                                        </li>
                                        <li class="studyInfo_contentWrapper">
                                            <span class="studyInfo_title">시작일</span>
                                            <span class="studyInfo_content" th:text="${createStudy.sb_start_time}"></span>
                                        </li>
                                        <li class="studyInfo_contentWrapper">
                                            <span class="studyInfo_title">종료일</span>
                                            <span class="studyInfo_content" th:text="${createStudy.sb_deadLine}"></span>
                                        </li>
                                        <li class="studyInfo_contentWrapper">
                                            <span class="studyInfo_title">개설일</span>
                                            <span class="studyInfo_content" th:text="${#dates.format(createStudy.sb_register_datetime, 'yyyy-MM-dd')}"></span>
                                        </li>
                                    </ul>
                                </tr>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
